/*===========================================

  Universal Styling

=============================================*/

#clas-home .container, #clas-interior .container {
    max-width: 1300px;
    width: 100%;
}

#clas-home .row, #clas-interior .row  {
  margin: 0;
}

#page #clas-home p,
#page #clas-home li, #page #clas-interior p,
#page #clas-interior li {
    font-family: "Gentona_Light", sans-serif !important;

}

#clas-home li, #clas-interior li {
  list-style: none;
  line-height: 150%;
  padding: 0 0 10px;
}

#clas-home li a, #clas-interior li a {
    font-family: "Gentona_Medium", sans-serif !important;
    font-size: 1.25rem;
}

#clas-home li:before, #clas-interior li:before {
    position: relative;
    content: "\02192";
    color: #f04e23;
    float: left;
    margin: 0 0 0 -1.3rem;
    width: 1em;
    font-size: 1.1rem;
    font-family: "Quadon_Bold";
}

#clas-home h3, #clas-interior h3 {
    font-family: "Gentona_ExtraBold", sans-serif;
    color: #002346;
    padding-bottom: 0;
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 120%;
    margin-left: 0;
}

#clas-home .col-md-6 p, #clas-interior .col-md-6 p {
    padding: .3rem 0;
}

#clas-home .desktop, #clas-interior .desktop {
  display: none;
}

#clas-home .col-sm-6.text-content, #clas-interior .col-sm-6.text-content {
    padding: 0 1rem;
}

em.fas.fa-chevron-double-right {
  font-size: 1rem;
}


/*===========================================

  Featured Image

=============================================*/

.page-template-ufclas-main-website-interior div#content {
  position: relative;
}

.page-template-ufclas-main-website-interior .container {
  position: relative;
}

.page-template-ufclas-main-website-interior main.single-featured-image-header {
  z-index: 1;
  position: absolute;
}

.page-template-ufclas-main-website-interior main#clas-home {
  z-index: 2;
  position: relative;
}

.page-template-ufclas-main-website-interior main.single-featured-image-header img {
  max-width: 100%;
  height: 21vw;
  padding: 0;
  margin: 0;
}

.page-template-ufclas-main-website-interior .link-container h2.entry-title-interior {
  background: none;
  font-family: "Gentona_Bold", sans-serif;
  font-size: 5vw;
  position: relative;
  height: 21vw;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  width: 80%;
  line-height: 1;
  text-transform: uppercase;
  max-width: 80%;
  margin: 0 auto !important;
  padding: 1.5rem 0.5rem;
}

.page-template-ufclas-main-website-interior span.interior-h2 {
  width: 50%;
  text-align: left;
}


/*===========================================

  Slider

=============================================*/
#clas-home .carousel-wrap {
    max-width: 100%;
}

main.carousel-row {
    padding: 0;
}

#clas-home .slide-image {
  display: block;
}

#page #clas-home .carousel-control span {
    font-size: 1.5rem!important;
}

#clas-home #featured-carousel .half-image-feature .carousel-caption {
    background: transparent !important;
    top: initial;
    bottom: 0;
    padding: 0 2rem;
    height: auto;
    text-align: left;
}


#clas-home #featured-carousel .item.full-image-feature,
#clas-home #featured-carousel .item.half-image-feature {
    width: 100%;
    height: 360px;
}

#clas-home #featured-carousel .item.half-image-feature img {
    width: 100% !important;
    height: 360px;
    object-fit: cover;
}

#clas-home .carousel-inner .item:before {
    content: '';
    background-image: linear-gradient(to top, black, transparent);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 3;
}

#clas-home .carousel-inner.row h3, .carousel-inner.row a {
    line-height: 120% !important;
}

#clas-home p.link-more a.more-link {
    font-size: 1.25rem;
    text-transform: capitalize;
}
/*===========================================

  CLAS Links Section Styling

=============================================*/

#clas-home .link-container h3 {
    font-family: "Quadon_ExtraBold", sans-serif;
    color: #00337A;
    padding-bottom: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.link-container h2 {
    background: no-repeat left/cover url(../images/blue-background.jpg);
    text-align: center;
    color: white;
    font-size: 1.75rem;
    padding: 1rem 2rem;
}

.link-container ul {
    margin: 1rem 0 0;
    padding-left: 1rem;
}
/*===========================================

 Spotlight Section Styling

=============================================*/
.clas-spotlight-story {
    background: #F7F4EB;
    padding-bottom: 2rem;
}

.news-spotlight .col-sm-6 {
    padding: 0;
}

#clas-home .news-spotlight h3 {
    background: no-repeat center/cover url('../images/orange-background.jpg');
    color: white;
    padding: 1rem;
}

.col-md-6.spotlight-image {
    padding: 0;
}

.news-spotlight .col-md-6 img {
    min-height: 180px;
    width: 100%;
    object-fit: cover;
    margin: 0;
}

.news-spotlight h4 {
    font-family: "Quadon_Bold", sans-serif;
    font-size: 1.25rem;
    color: #00337A;
    margin-top: 1rem !important;
    padding: 0 .5rem 1rem 0;
}


/*===========================================

 In The News/Events Styling

=============================================*/
.news-events .container {
    padding: 0;
}

#clas-home article:first-child {
    padding-top: 1rem;
}

#clas-home article {
    border-bottom: 2px dashed #707070;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

#clas-home article:last-child {
    border: none;
    padding-bottom: 0;
}

#clas-home .featured-news a {
    font-family: "Quadon_Bold", sans-serif !important;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.news-events h4 {
    padding-bottom: 0;
    margin-left: 0 !important;
}

p.publish-date {
    padding: 0 0 .5rem;
}

#clas-home .more-news a,
#clas-home .other-information a,
#clas-home .tribe-events-widget-link a {
    font-size: 1.25rem;
    font-family: "Gentona_SemiBold", sans-serif !important;
    letter-spacing: 0;
}

ol.tribe-list-widget li:before {
    display: none;
}

#clas-home ol.tribe-list-widget {
    padding: 0;
}

#clas-home .tribe-events-list-widget .event-date {
    position: static;
    display: flex;
    margin-bottom: 0.5rem !important;
}

#clas-home .tribe-events-list-widget .tribe-events-widget-link {
    text-transform: capitalize;
}


#clas-home .tribe-events-list-widget .tribe-list-widget li {
    margin-left: 0;
    border: none;
    padding-left: 0;
}

#clas-home .event-date > span {
    margin-right: .5rem;
    font-size: 1.75rem !important;
}

#page #clas-home h4.tribe-event-title a {
    font-family: "Quadon_Bold",sans-serif !important;
    font-size: 1.2rem !important;
}

/*===========================================

 Bottom Blocks Styling

=============================================*/
#clas-home .other-information .row > div {
  padding: 0;
}

#clas-home .other-information h3 {
  margin-top: 0;
}

.other-information {
    margin-top: 3.75rem;
    padding-bottom: 3rem;
}


.bottom-blocks {
    margin-top: 1.375rem;
}

.other-information img {
    width: 100%;
}

/*===========================================

 Media Queries

=============================================*/

/* mobile header for interior pages begin */
@media screen and (max-width: 1010px) {
  .page-template-ufclas-main-website-interior #page {
    margin-top: 3.75rem;
  }
}

@media screen and (max-width: 768px) {
  .page-template-ufclas-main-website-interior .link-container h2.entry-title-interior {
    font-size: 7vw;
    width: 100%;
    max-width: 100%;
  }
}
/* mobile header for interior pages end */

@media (min-width: 768px) {
  #clas-home .container {
    padding: 0;
  }

  #clas-home #featured-carousel .half-image-feature .carousel-caption {
      width: 70%;
      left: 45px;
  }

  .link-container .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 2rem auto !important;
  }

  .link-container h2 {
    font-size: 2.25rem;
  }

  .link-container .row > div {
      flex: 1 50%;
  }

  #clas-home h3 {
    margin-top: 0;
  }

  .news-spotlight {
    margin-top: 2.5rem;
  }

  .clas-spotlight-story {
    display: inline-block;
  }

  .col-md-6.text-content,
  .news-events,
  .other-information {
    max-width: 90%;
    margin: 0 auto;
  }

  #clas-home .news-spotlight h3 {
    padding: 1rem 1.5rem;
  }

  .news-spotlight h4 {
    font-size: 1.5rem;
  }

  .news-events .col-md-6 {
    margin-top: 3rem;
  }

  #clas-home .tribe-events-list-widget .tribe-list-widget li {
    position: relative;
    margin-left: 55px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    margin-bottom: 2rem;
  }

  #clas-home .tribe-events-list-widget .event-date {
    position: absolute;
    display: initial;
    left: -55px;
    top: -8px;
  }

  #clas-home .event-date > span {
    margin-right: 0;
  }

  #clas-home span.event-day {
    margin-top: -3px !important;
    display: block;
    font-family: "Gentona_Light", "Georgia", serif;
  }
  #page #clas-home h4.tribe-event-title a {
    font-size: 1.5rem;
  }

  .tribe-event-duration span {
    font-size: 1.2rem;
  }

  .bottom-blocks {
    margin-top: 3rem;
  }

  .other-information{
    padding-bottom: 3rem;
  }
}

@media (min-width: 992px){
  #clas-home .col-md-5,
  #clas-home .col-md-6,
  #clas-home .col-md-7 {
    width: 100%;
    float: none;
  }
}

@media (min-width: 1025px){
  #clas-home {
    max-width: 1920px;
    margin: 0 auto;
  }
  .page-template-ufclas-main-website-home #clas-home {
    background-color: white;
  }
  .page-template-ufclas-main-website-home #content {
    background: #f7f4eb url(../images/bg-texture.png);
  }
  #clas-home .col-md-5 {
    width: 41.66666667%;
  }

  #clas-home .col-md-6 {
    width: 50%;
  }

  #clas-home .col-md-7 {
    width: 58.33333333%;
  }

  #clas-home .col-md-6,
  #clas-home .col-md-5,
  #clas-home .col-md-7 {
    float: left;
  }

  #clas-home #featured-carousel .half-image-feature .carousel-caption {
      width: 100%;
      background: transparent !important;
      z-index: 9;
      max-width: 50%;
      bottom: 45px;
  }

  .link-container .row > div {
    flex:1 25%;
  }

  .clas-spotlight-story {
    padding-bottom: 0;
  }

  .news-spotlight {
    max-width: 1920px;
    margin: 2.5rem auto;
  }

  .news-spotlight .row {
    display: flex;
    flex-wrap: wrap;
  }

  .news-spotlight .col-md-6.text-content {
    padding: 1rem 2.75rem;
  }

  .news-spotlight .row h3 {
    flex: 1 100%;
  }

  .news-spotlight .row > div {
    flex: 1 50%;
  }

  .news-spotlight .col-md-6 img {
    height: 100%;
  }

  .col-md-6.text-content,
  .news-events,
  .other-information {
    max-width: 1300px;
  }

  #clas-home .news-events .col-md-6 {
    padding: 0 3rem;
    margin-top: 0;
  }

  p.tribe-events-widget-link a {
    font-size: 1.25rem;
  }

  .bottom-blocks {
    display: inline-block;
  }

  .bottom-blocks:first-child {
    margin-top: 5rem;
  }

  #clas-home .other-information .row > div {
      padding: 0 1rem;
  }

  #clas-home .other-information h3 {
    padding-top: 0;
  }
}
